@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "'Inter var'";
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url('./assets/fonts/Inter.var.woff2?v=3.19') format('woff2');
}
@font-face {
  font-family: "'Inter var'";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('./assets/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
}
@font-face {
  font-family: "'Inter var'";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url('./assets/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
}

@font-face {
  font-family: 'caviar-dreams';
  font-style: normal;
  font-weight: 400;
  src:
    local('caviar-dreams'),
    url('./assets/fonts/caviar-dreams.woff') format('woff');
}

@font-face {
  font-family: 'caviar-dreams-bold';
  font-style: normal;
  font-weight: 700;
  src:
    local('caviar-dreams-bold'),
    url('./assets/fonts/caviar-dreams-bold.woff') format('woff');
}

@font-face {
  font-family: 'campton-light';
  font-style: normal;
  font-weight: 400;
  src:
    local('campton-light'),
    url('./assets/fonts/campton-light.woff') format('woff');
}

@font-face {
  font-family: 'campton-thin';
  font-style: normal;
  font-weight: 400;
  src:
    local('campton-thin'),
    url('./assets/fonts/campton-thin.woff') format('woff');
}

.vue-tel-input {
  border-radius: var(--n-border-radius) !important;
  border: 1px solid transparent !important;
  height: var(--n-height) !important;
  width: 100%;
}

.vti__input {
  border-radius: 0 3px 3px 0;
  padding-left: 7px;
  background-color: var(--n-color);
  caret-color: var(--n-caret-color);
  font-size: var(--n-font-size);
  color: var(--n-text-color);
}

.vue-tel-input:hover {
  border: var(--n-border-hover) !important;
}

.vti__dropdown {
  z-index: 1000 !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: var(--n-count-text-color);
}

body {
  background-color: #fafafa;
  min-height: 100dvh;
}

textarea:focus {
  outline: none;
}

@layer base {
  input:focus {
    outline: none !important;
  }

  :root {
    --n-color: rgba(255, 255, 255, 0.1);
    --n-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --n-count-text-color: rgba(255, 255, 255, 0.52);
    --n-count-text-color-disabled: rgba(255, 255, 255, 0.38);
    --n-font-size: 14px;
    --n-border-radius: 3px;
    --n-height: 34px;
    --n-padding-left: 12px;
    --n-padding-right: 12px;
    --n-text-color: rgba(255, 255, 255, 0.82);
    --n-caret-color: #9f6c27;
    --n-text-decoration-color: rgba(255, 255, 255, 0.82);
    --n-border: 1px solid #0000;
    --n-border-disabled: 1px solid #0000;
    --n-border-hover: 1px solid #674d32;
    --n-border-focus: 1px solid #674d32;
    --n-placeholder-color: rgba(255, 255, 255, 0.38);
    --n-placeholder-color-disabled: rgba(255, 255, 255, 0.28);
    --n-icon-size: 16px;
    --n-line-height-textarea: 1.6;
    --n-color-disabled: rgba(255, 255, 255, 0.06);
    --n-color-focus: rgba(159, 108, 39, 0.1);
    --n-text-color-disabled: rgba(255, 255, 255, 0.38);
    --n-box-shadow-focus: 0 0 8px 0 rgba(159, 108, 39, 0.3);
    --n-loading-color: #9f6c27;
    --n-caret-color-warning: #f2c97d;
    --n-color-focus-warning: rgba(242, 201, 125, 0.1);
    --n-box-shadow-focus-warning: 0 0 8px 0 rgba(242, 201, 125, 0.3);
    --n-border-warning: 1px solid #f2c97d;
    --n-border-focus-warning: 1px solid #f5d599;
    --n-border-hover-warning: 1px solid #f5d599;
    --n-loading-color-warning: #f2c97d;
    --n-caret-color-error: #e88080;
    --n-color-focus-error: rgba(232, 128, 128, 0.1);
    --n-box-shadow-focus-error: 0 0 8px 0 rgba(232, 128, 128, 0.3);
    --n-border-error: 1px solid #e88080;
    --n-border-focus-error: 1px solid #e98b8b;
    --n-border-hover-error: 1px solid #e98b8b;
    --n-loading-color-error: #e88080;
    --n-clear-color: rgba(255, 255, 255, 0.38);
    --n-clear-size: 16px;
    --n-clear-color-hover: rgba(255, 255, 255, 0.48);
    --n-clear-color-pressed: rgba(255, 255, 255, 0.3);
    --n-icon-color: rgba(255, 255, 255, 0.38);
    --n-icon-color-hover: rgba(255, 255, 255, 0.475);
    --n-icon-color-pressed: rgba(255, 255, 255, 0.30400000000000005);
    --n-icon-color-disabled: rgba(255, 255, 255, 0.28);
    --n-suffix-text-color: rgba(255, 255, 255, 0.82);
  }
}
